@import '~assets/styles/color.less';
@import '~assets/styles/variable.less';

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 0.6rem;
  padding: 0.15rem 0.2rem;

  background-color: @theme-black;
  box-shadow: 0 0 0.01rem @theme-black;

  .search-filter-mask {
    position: fixed;
    top: 0.6rem;
    left: 0;

    width: 100%;
    height: ~'calc(100% - 1rem)';

    background-color: rgba(0, 0, 0, 0.7);
  }

  .search-filter-input {
    position: relative;

    width: 90%;
    height: 0.3rem;
    margin: 0 auto;

    text-align: center;

    color: #333;

    .icon-search {
      position: absolute;
      top: 0.04rem;
      left: 0.1rem;

      font-size: 0.2rem;
    }

    input {
      width: 100%;
      height: 100%;
      padding: 0rem 0.1rem 0rem 0.35rem;

      border: 0.01rem solid @white;
      border-radius: 0.2rem;

      &:read-only {
        cursor: not-allowed;

        border-color: #aaa;
        background-color: #aaa;
      }
    }
  }
  .search-filter-btn {
    margin-left: 0.1rem;

    cursor: pointer;

    color: @white;

    font-size: 0.3rem;
  }
}

@keyframes open-mask {
  0% {
    opacity: 0;
  }
}
