@import '~assets/styles/color.less';
@import '~assets/styles/variable.less';

.search-box {
  width: 100%;
  padding: 0.15rem 0.2rem;

  text-align: center;

  background-color: @theme-black;
  box-shadow: 0 0 0.01rem @theme-black;

  .search-input {
    position: relative;

    width: 100%;
    height: 0.3rem;
    margin: 0 auto;

    text-align: center;

    .icon-search {
      position: absolute;
      top: 0.04rem;
      left: 0.1rem;

      font-size: 0.2rem;
    }

    input {
      width: 100%;
      height: 100%;
      padding: 0rem 0.1rem 0rem 0.35rem;

      border: 0.01rem solid @white;
      border-radius: 0.2rem;
    }
  }
}
