@import '../../assets/styles/variable.less';
@ban-color: rgba(255, 255, 255, .1);

.login-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: @font-color;

  h2 {
    margin-bottom: .4rem;
  }

  .login-form {
    text-align: center;

    &.loading {
      .account,
      .password {
        background-color: @ban-color;
      }
      .submit {
        color: @ban-color;
        border-color: @ban-color;
      }
    }

    .account,
    .password {
      width: 60%;
      max-width: 3rem;
      margin-bottom: .2rem;
      padding: .1rem .15rem;

      transition: all .2s ease;

      border: .01rem solid transparent;
      border-radius: .2rem;
      outline: none;
      background-color: #FFF;
    }

    .submit {
      width: 40%;
      max-width: 2rem;
      padding: .1rem;

      cursor: pointer;
      transition: all .2s ease;

      color: @font-color;
      border: .01rem solid #999;
      border-radius: .2rem;
      outline: none;
      background-color: transparent;

      -webkit-tap-highlight-color: transparent;
    }
  }
}
