@import '../../assets/styles/color.less';
@import '../../assets/styles/variable.less';
@ban-color: rgba(255, 255, 255, .1);

.login-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: @font-color;
  background-color: #FFF;

  h2 {
    margin-bottom: .3rem;

    font-size: .32rem;
    font-weight: lighter;
  }

  .login-form {
    text-align: center;

    .account,
    .password {
      width: 60%;
      max-width: 3rem;
      margin-bottom: .2rem;
      padding: .1rem .15rem;

      transition: all .2s ease;

      border: .01rem solid @font-color;
      border-radius: .2rem;
      outline: none;
      background-color: #FFF;

      -webkit-tap-highlight-color: transparent;
    }

    .submit {
      width: 40%;
      max-width: 2rem;
      padding: .1rem;

      cursor: pointer;
      transition: all .2s ease;

      color: #FFF;
      border: .01rem solid @blue;
      border-radius: .2rem;
      outline: none;
      background-color: @blue;

      -webkit-tap-highlight-color: transparent;
    }
  }
}
