.illust-detail {
  width: 100%;
  height: 100%;
  padding-top: 0.6rem;

  background-color: #fff;

  .title-bar {
    z-index: 1;
  }

  .username {
    color: #666;
  }

  .detail-content {
    position: relative;
  }

  // iScroll滚动条样式
  .iScrollVerticalScrollbar {
    position: absolute;

    width: 4px !important;
  }

  .iScrollIndicator {
    border-radius: 10px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
}
