/* 加载旋转动画 */
@keyframes loader-icon-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 缩小渐现动画 */
.zoom-out {
  animation: zoom-out .3s ease;

  animation-fill-mode: forwards;
}
@keyframes zoom-out {
  0% {
    transform: scale(1.4);

    opacity: 0;
  }
  100% {
    transform: scale(1);

    opacity: 1;
  }
}

/* 渐显动画 */
.fade-in {
  animation: fade-in .2s ease;

  animation-fill-mode: forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
