@font-face {
  font-family: 'iconfont';

  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype');
}

.g-icon {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: '\e64a';
}

.icon-home:before {
  content: '\e609';
}

.icon-ranking:before {
  content: '\e68b';
}

.icon-user:before {
  content: '\e659';
}

.icon-loading:before {
  content: '\e668';
}
